<div class="card" id="card-1">
    <img src="assets/img/20230731_103712.jpg" alt="Imagem 1">
    <p class="title-card">Araucária</p>
    <p class="frutifera-card">
        Frutífera:
        <img src="assets/img/correct-frutifera.png" alt="">
    </p>
    <div class="container-assessment-button">
        <a href="./araucaria">
            <button>Abrir</button>
        </a>
    </div>
</div>

<div class="card" id="card-2">
    <img src="assets/img/20230729_164443.jpg" alt="Imagem 1">
    <p class="title-card">Jabuticabeira</p>
    <p class="frutifera-card">
        Frutífera:
        <img src="assets/img/correct-frutifera.png" alt="">
    </p>
    <div class="container-assessment-button">
        <a href="./jabuticabeira">
            <button>Abrir</button>
        </a>
    </div>
</div>

<!--<div class="card" id="card-3">
    <img src="assets/img/20230729_164443.jpg" alt="Imagem 1">
    <p class="title-card">Jabuticabeira</p>
    <p class="frutifera-card">
        Frutífera:
        <img src="assets/img/incorrect-frutifera.png" alt="">
    </p>
    <div class="container-assessment-button">
        <a href="./jabuticabeira">
            <button>Abrir</button>
        </a>
    </div>
</div>-->
</div>