<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

<h1 class="logo">
    <img src="assets/img/zyro-image2.png" class="img-logo" alt="Logo">
    <span>CarborTech</span>
</h1>

<ul class="nav-items">
    <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
    <label for="toggle-categorias" class="nav-link">Categorias</label>
        <input type="checkbox" id="toggle-categorias" class="toggle">
        <ul class="category-list">
            <a href="#card-container"><li><i class="bi bi-cart2"></i>Produtos</li></a>
            <li><i class="bi bi-geo-alt"></i>Cadastrar área</li>
            <li><i class="bi bi-tree"></i>Solicitar serviço</li>
            <a href="/inicial"><li><i class="bi bi-laptop"></i>CarborBlog</li></a>
            <a href="/cadastro"><li><i class="bi bi-door-open"></i></i>Cadastrar-se</li></a>
            <a href="/login"><li><i class="bi bi-box-arrow-in-right"></i>Login</li></a>
        </ul>
    <li class="nav-item"><a class="nav-link" href="#footer">Contatos</a></li>
</ul>

<div class="search-bar">
    <form class="search-form" action="#" method="GET">
        <input type="text" id="searchInput" name="search" placeholder="Pesquise aqui">
        <input type="submit" value="Buscar">
    </form>
</div>

<div class="buttons">
    <a href="/login"><button class="btn-entrar">Login</button></a>
    <a href="/cadastro"><button class="btn-cadastrar-se">Cadastrar-se</button></a>
</div>