<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="public/img/zyro-image2.png" />
    <link rel="stylesheet" href="./css/principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>CarborTech</title>
</head>

<body>
    <div class="principal-container">
        <header id="header">
            <%- include('./layouts/header') %>
        </header>
        <div class="search-bar-responsive">
            <form class="search-form" action="#" method="GET">
                <input type="text" name="search" placeholder="Pesquise aqui">
                <input type="submit" value="Buscar">
            </form>
        </div>

        <div id="contentContainer">
        <div class="banner">
            <img src="assets/img/1-banner-img.png" alt="Imagem 1" class="active">
            <img src="assets/img/2-banner-img.png" alt="Imagem 2">
            <div class="banner-buttons">
                <button onclick="changeImage(-1)">&#8249;</button>
                <button onclick="changeImage(1)">&#8250;</button>
            </div>
        </div>

        <div class="register-div">
            <img src="assets/img/Imagem de cadastro.png" alt="Imagem" class="register-image">
            <div class="register-content">
                <p class="p-cadastro-areas">
                    <img src="assets/img/Ícone mapa.png" alt="">
                    Cadastro de áreas
                </p>
                <p class="p-register-text">Cadastre sua propriedade para registrá-la como reservada para a restauração
                    e/ou preservação florestal.</p>
                <div class="register-buttons">
                    <button class="btn-solicitar-servico">Solicitar serviço</button>
                    <button class="btn-cadastrar-area">Cadastrar área</button>
                </div>
            </div>
        </div>
    </div>

        <div class="card-container" id="card-container">
            <div class="cards-wrapper" id="cardsWrapper">

                <div class="card" id="card-1">
                    <img src="assets/img/20230731_103712.jpg" alt="Imagem 1">
                    <p class="title-card">Araucária</p>
                    <p class="frutifera-card">
                        Frutífera:
                        <img src="assets/img/incorrect-frutifera.png" alt="">
                    </p>
                    <div class="container-assessment-button">
                        <a href="./araucaria">
                            <button>Abrir</button>
                        </a>
                    </div>
                </div>


                <div class="card" id="card-2">
                    <img src="assets/img/20230729_164443.jpg" alt="Imagem 1">
                    <p class="title-card">Jabuticabeira</p>
                    <p class="frutifera-card">
                        Frutífera:
                        <img src="assets/img/correct-frutifera.png" alt="">
                    </p>
                    <div class="container-assessment-button">
                        <a href="./jabuticabeira">
                            <button>Abrir</button>
                        </a>
                    </div>
                </div>
            </div>

            <button class="scroll-button-left" onclick="scrollCardsLeft()"></button>
            <button class="scroll-button-right" onclick="scrollCardsRight()"></button>
        </div>

        <footer id="footer">
            <p class="contatos"><i class="bi bi-telephone-inbound-fill"></i> Contatos</p>
            <div class="coluns">
                <div class="column">
                    <p><i class="bi bi-person-rolodex"></i>CarborTech</p>
                    <p><i class="bi bi-arrow-return-right"></i>carbortech@gmail.com</p>
                </div>
                <div class="column">
                    <p><i class="bi bi-person-lines-fill"></i>Giovani Dalmas</p>
                    <p><i class="bi bi-arrow-return-right"></i>giovanidalmas053@gmail.com</p>
                </div>
                <div class="column">
                    <p><i class="bi bi-person-lines-fill"></i>João Vitor A. Medeiros</p>
                    <p><i class="bi bi-arrow-return-right"></i>joaovitoramedeiros@gmail.com</p>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="./js/principal.js"></script>
</html>