<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Cadastre sua propriedade para a restauração ambiental e preserve a natureza ao seu redor!">
    <meta name="author" content="Giovani D. & João Vitor A. M." />
    <link rel="icon" type="image/x-icon" href="/img/zyro-image2.png" />
    <link rel="stylesheet" href="./css/principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>CarborTech</title>
</head>

<body>
    <div class="principal-container">
        <header id="header">

            <%- include('./layouts/header') %>
            
        </header>

        <div id="contentContainer">
        <div class="banner">
            <img src="assets/img/1-banner-img.png" alt="Imagem 1" class="active">
            <img src="assets/img/2-banner-img.png" alt="Imagem 2">
            <img src="assets/img/3-img-banner.png" alt="Imagem 3">
            <div class="banner-buttons">
                <button onclick="changeImage(-1)">&#8249;</button>
                <button onclick="changeImage(1)">&#8250;</button>
            </div>
        </div>

        <div class="register-div">
            <img src="assets/img/Imagem de cadastro.png" alt="Imagem" class="register-image">
            <div class="register-content">
                <p class="p-cadastro-areas">
                    <img src="assets/img/Ícone mapa.png" alt="">
                    Cadastro de áreas
                </p>
                <p class="p-register-text">Cadastre sua propriedade para registrá-la como reservada para a restauração e preservação florestal.</p>
                <div class="register-buttons">
                    <a>
                        <button class="btn-solicitar-servico">Solicitar serviço</button>
                    </a>
                    <a href="/mapa">
                        <button class="btn-cadastrar-area">Cadastrar área</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

        <div class="text-center p-3 mt-5 bg-white bg-opacity-75" style="margin-bottom: -2rem;">
            <h4 id="title-card" class="fw-medium" style="color: #323232;"><i class="bi bi-tree-fill"></i>Mudas nativas para venda<i class="bi bi-tree-fill m-lg-3"></i></h4>
        </div>
        <div class="card-container bg-white shadow-sm rounded bg-opacity-75" id="card-container">
            <div class="cards-wrapper" id="cardsWrapper">

  
            <%- include('./layouts/cards') %>

            <button class="scroll-button-left visually-hidden" onclick="scrollCardsLeft()"></button>
            <button class="scroll-button-right visually-hidden" onclick="scrollCardsRight()"></button>
        </div>

        <footer id="footer">
            <p class="contatos"><i class="bi bi-telephone-inbound-fill"></i> Contatos</p>
            <div class="coluns">
                <div class="column">
                    <p><i class="bi bi-person-rolodex"></i>CarborTech</p>
                    <p><i class="bi bi-arrow-return-right"></i>carbortech@gmail.com</p>
                </div>
                <div class="column">
                    <p><i class="bi bi-person-lines-fill"></i>Giovani Dalmas</p>
                    <p><i class="bi bi-arrow-return-right"></i>giovanidalmas053@gmail.com</p>
                </div>
                <div class="column">
                    <p><i class="bi bi-person-lines-fill"></i>João Vitor A. Medeiros</p>
                    <p><i class="bi bi-arrow-return-right"></i>joaovitoramedeiros@gmail.com</p>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="./js/principal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>