<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>CarborTech</title>
</head>
<body>
    <div class="principal-container">
    <header>
        <h1 class="logo">
            <img src="./midia/zyro-image2.png" class="img-logo" alt="Logo">
            <span>CarborTech</span>
        </h1>
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Categorias</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contatos</a></li>
        </ul>
        <div class="search-bar">
            <form class="search-form" action="#" method="GET">
                <input type="text" name="search" placeholder="Pesquise aqui">
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div class="buttons">
            <button class="btn-entrar">Entrar</button>
            <button class="btn-cadastrar-se">Cadastrar-se</button>
        </div>
    </header>
    <div class="search-bar-responsive">
        <form class="search-form" action="#" method="GET">
            <input type="text" name="search" placeholder="Pesquise aqui">
            <input type="submit" value="Buscar">
        </form>
    </div>

    <div class="banner">
        <img src="./midia/Imagem alerta de semeaduras.png" alt="Imagem 1" class="active">
        <img src="./midia/scaled_IMG-20230621-WA0268-photo-processed (1).jpg" alt="Imagem 2">
        <div class="banner-buttons">
            <button onclick="changeImage(-1)">&#8249;</button>
            <button onclick="changeImage(1)">&#8250;</button>
        </div>
    </div>

    <div class="register-div">
        <img src="./midia/Imagem de cadastro.png" alt="Imagem" class="register-image">
        <div class="register-content">
            <p class="p-cadastro-areas">
                <img src="./midia/Ícone mapa.png" alt="">
                Cadastro de áreas</p>
            <p class="p-register-text">Cadastre sua propriedade para registrá-la como reservada para a restauração e/ou preservação florestal.</p>
            <div class="register-buttons">
              <button class="btn-solicitar-servico">Solicitar serviço</button>
              <button class="btn-cadastrar-area">Cadastrar área</button>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="cards-wrapper" id="cardsWrapper">
            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>

            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>

            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>

            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>

            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>

            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>

            <div class="card">
                <img src="./midia/card-image.png" alt="Imagem 1">
                <p class="title-card">Jabuticabeira</p>
                <p class="frutifera-card">
                    Frutífera: 
                    <img src="./midia/correct-frutifera.png" alt=""></p>
                <div class="container-assessment-button">
                    <p class="assessment-card">
                        <img src="./midia/icone-estrela.png" alt="">
                        5
                    </p>
                    <button>Abrir</button>
                </div>
            </div>
        </div>

        <button class="scroll-button-left" onclick="scrollCardsLeft()"></button>
        <button class="scroll-button-right" onclick="scrollCardsRight()"></button>
    </div>

    <footer>
        <p class="contatos">•  Contatos</p>
        <div class="coluns">
            <div class="column">
                <p>CarborTech</p>
                <p>carbortech@gmail.com</p>
            </div>
            <div class="column">
                <p>Giovani Dalmas</p>
                <p>giovanidalmas053@gmail.com</p>
            </div>
            <div class="column">
                <p>João Vitor A. Medeiros</p>
                <p>joaovitoramedeiros@gmail.com</p>
            </div>
        </div>
    </footer>
    </div>
</body>
<style>
/* CABEÇALHO DO SITE */

/* Logo e título */
header {
    background-color: #ECECEC;
    padding: 0.6rem;
    color: #3F3F3F;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.logo img {
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.3rem;
    color: #4BA95A;
}

/* Categorias de navegação */
.nav-items {
    list-style: none;
    margin: 0;
    display: flex;
    margin-left: 6rem;
    font-size: 1rem;
}

.nav-item {
    margin-right: 1.4rem;
}

.nav-item:hover {
    color: #8a8a8a;
}

.nav-link {
    color: #3F3F3F;
    text-decoration: none;
}

/* Barra de navegação */
.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 23rem;
    border-radius: 0.1rem;
}

.search-form input[type="text"] {
    padding: 0.25rem 0.6rem;
    border: none;
    border-radius: 0.1rem;
}

.search-form input[type="text"]:focus {
    outline: 0.01em solid #797979;
}

.search-form input[type="submit"] {
    padding: 0.25rem 0.55rem;
    background-color: #fff;
    color: #797979;
    cursor: pointer;
    border: none;
    border-radius: 0.1rem;
    margin-left: 0.3rem;
}

.search-form input[type="submit"]:hover {
    background-color: #fbfbfb;
    outline: 0.01em solid #797979;
}

/* Botões de login e cadastro */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}

.buttons button {
    padding: 0.25rem 0.6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    transition: background-color .5s;
}

.btn-entrar {
    background-color: #ECECEC;
    border: 0.1rem solid #55AD63;
    color: #55AD63;
}

.btn-entrar:hover {
    background-color: #55AD63;
    color: #ECECEC;
}

.btn-cadastrar-se {
    background-color: #4684FB;
    border: 0.1rem solid #4684FB;
    color: #ECECEC;
    transition: all .5s;
}

.btn-cadastrar-se:hover {
    background-color: #ECECEC;
    color: #4684FB;
}

.search-bar-responsive {
    display: none;
}

/*CABEÇALHO RESPONSIVO*/

@media (max-width: 50rem) {
    header {
      padding: 0.4rem;
      height: 12.5rem;
    }
  
    .logo img {
      width: 7rem;
      height: 6rem;
      margin-left: 2rem;
      margin-right: 0.6rem;
    }
  
    span {
       display: none;
    }
  
    .nav-items {
      margin-left: 4rem;
      font-size: 2.5rem;
    }

    .nav-item {
        margin-right: 4rem;
    }
  
    .search-form {
      margin: 0 auto;
      font-size: 2.5rem;
    }
  
    .search-form input[type="text"] {
      padding: 0.9rem 2.2rem;
      border-radius: 0.3rem;
    }

    .search-form input[type="text"]:focus {
        outline: 0.01em solid #797979;
    }
  
    .search-form input[type="submit"] {
      padding: 0.9rem 2.2rem;
      margin-left: 1.3rem;
      border-radius: 0.3rem;
    }

    .search-form input[type="submit"]:hover {
        background-color: #fbfbfb;
        outline: 0.05em solid #797979;
    }
  
    .buttons {
      margin-right: 2rem;
    }
  
    .buttons button {
      padding: 1rem 2rem;
      margin-left: 1.5rem;
      font-size: 2.5rem;
      border-radius: 0.5rem;
    }

    .search-bar{
        display: none;
    }

    .search-bar-responsive{
        height: 9rem;
        align-items: center;
        display: flex;
        background-color: #dcdcdc;
    }
  }


/*CORPO DO SITE*/

html {
    width: 95rem;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../midia/scaled_IMG-20230621-WA0268-photo-processed\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 30%;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
  }

.principal-container {
    max-width: 100rem;
    margin: 0 auto;
}

/*Banner rotativo*/
.banner {
    width: 55rem;
    height: 5rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 1.7rem;
}

.banner img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.35rem;
}

.banner img.active {
    opacity: 1;
}

.banner-buttons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-buttons button {
    font-size: 4rem;
    margin-top: -1rem;
    background: none;
    border: none;
    color: #3F3F3F;
    cursor: pointer;
}

/*Banner rotativo responsivo*/
@media (max-width: 50rem){
    .banner {
        width: 92rem;
        height: 13rem;
        margin-top: 4rem;
    }
    
    .banner img {
        width: 85%;
        height: 100%;
        border-radius: 1rem;
    }

    .banner-buttons button {
        font-size: 15rem;
        margin-top: -7rem;
    }
    
}

/*Div de cadastro*/
.register-div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 68rem;
    height: 22rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
}
  
.register-image {
    width: 37%;
    height: 100%;
    object-fit: cover;
    float: left;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.register-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

/*Textos e botões da div de cadastro*/
.p-cadastro-areas {
    font-size: 1.35rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.p-cadastro-areas img {
    width: 1.65rem;
    margin-right: 0.5rem;
    margin-top: -0.35rem;
}

.p-register-text {
    text-align: left;
    padding: 3.5rem 5rem;
}
  
.register-buttons {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1.5rem;
}
  
.register-buttons button {
    padding: 0.35rem 0.8rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
}

.btn-cadastrar-area {
    background-color: #4684FB;
    color: #ECECEC;
    border: none;
    transition: all .5s;
}

.btn-cadastrar-area:hover {
    background-color: #5c95ff;
}

.btn-solicitar-servico {
    background-color: #4684FB;
    border: none;
    color: #ECECEC;
    transition: all .5s;
}

.btn-solicitar-servico:hover {
    background-color: #5c95ff;
}

/*Div de cadastro responsiva*/
@media (max-width: 50rem) {
    .register-div {
        width: 87.5rem;
        height: 60rem;
        margin-top: 6rem;
        border-radius: 1.2rem;
    }
      
    .register-image {
        width: 37%;
        height: 100%;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
    }

    /*Textos e botões da div de cadastro responsivos*/
    .p-cadastro-areas {
        font-size: 3rem;
        margin-top: 2rem;
    }
    
    .p-cadastro-areas img {
        width: 4rem;
        margin-right: 0.5rem;
        margin-top: -0.35rem;
    }
    
    .p-register-text {
        padding: 4rem 5rem;
        font-size: 3rem;
    }

    .register-buttons {
        flex-direction: column;
        align-items: center;
    }
      
      .register-buttons button {
        display: block;
        max-width: 30rem;
        margin-top: 2rem;
        padding: 1.5rem 4.5rem;
        border-radius: 0.8rem;
        margin-left: 1rem;
        font-size: 2.5rem;
      }
}

/*Cards*/
.card-container {
    overflow-x: none;
    white-space: nowrap;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    overflow: hidden;
}

.card {
    min-width: 16.5rem !important;
    border-radius: 0.4rem;
    margin: 1rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.cards-wrapper {
    display: flex;
    transition: transform 0.3s ease;
  }

.scroll-button-right{
    position: absolute;
    margin-left: 90rem;
    transform: translateY(-50%);
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.03rem solid #3F3F3F;
    margin-top: 12rem;
    opacity: 1;
}

.scroll-button-right::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.17rem;
    border-top: 0.1rem solid #3f3f3f;
    border-right: 0.1rem solid #3f3f3f;
    transform: rotate(45deg);
}

.scroll-button-left{
    position: absolute;
    transform: translateY(-50%);
    background-color: #ffffff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.03rem solid #3F3F3F;
    margin-top: 12rem;
    margin-left: 2rem;
    opacity: 1;
}

.scroll-button-left::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.17rem;
    border-top: 0.1rem solid #3f3f3f;
    border-right: 0.1rem solid #3f3f3f;
    transform: rotate(225deg);
    margin-left: 0.4rem;
}

.card img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
}

.title-card {
    font-size: 1.3rem;
    font-weight: 600;
    color: #323232;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.frutifera-card {
    font-size: 1rem;
    font-weight: 400;
    color: #323232;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.frutifera-card img {
    justify-content: end;
    width: 1rem;
    height: 1rem;
}

.container-assessment-button {
    display: flex;
    align-items: center;
}

.assessment-card {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    color: #323232;
    margin-top: 1rem;
    margin-left: 2rem;
}

.assessment-card img{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

.container-assessment-button button {
    background-color: #4684FB;
    color: #ECECEC;
    border: none;
    transition: all .5s;
    padding: 0.3rem 1.25rem;
    border-radius: 0.2rem;
    margin-left: 6rem;
    margin-top: 0;
}

.container-assessment-button button:hover {
    background-color: #5c95ff;
}

/*Cards responsivos*/
@media (max-width: 50rem) {
    .card-container {
        width: 100%;
        height: 57rem;
        margin-top: 4rem;
    }
    
    .card {
        min-width: 38rem !important;
        border-radius: 1.2rem !important;
        margin: 1rem;
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    }
    
    .scroll-button-right{
        margin-left: 84rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 0.03rem solid #3F3F3F;
        margin-top: 26rem;
    }
    
    .scroll-button-right::before {
        width: 2rem;
        height: 2rem;
        margin-right: 0.17rem;
        border-top: 0.2rem solid #3f3f3f;
        border-right: 0.2rem solid #3f3f3f;
    }
    
    .scroll-button-left{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 0.03rem solid #3F3F3F;
        margin-top: 26rem;
        margin-left: 2rem;
    }
    
    .scroll-button-left::before {
        width: 2rem;
        height: 2rem;
        margin-right: 0.17rem;
        border-top: 0.2rem solid #3f3f3f;
        border-right: 0.2rem solid #3f3f3f;
        margin-left: 0.4rem;
    }
    
    .card img {
        width: 100%;
        height: 35rem;
        border-radius: 1.2rem 1.2rem 0 0;
    }
    
    .title-card {
        font-size: 3rem;
        font-weight: 600;
        margin-top: 1rem;
    }
    
    .frutifera-card {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 1rem;
    }
    
    .frutifera-card img {
        width: 2rem;
        height: 2rem;
    }
    
    .assessment-card {
        font-size: 3.5rem;
        font-weight: 500;
        margin-top: 2rem;
        margin-left: 5rem;
    }
    
    .assessment-card img{
        width: 4rem;
        height: 4rem;
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }
    
    .container-assessment-button button {
        font-size: 3rem;
        padding: 0.7rem 3.8rem;
        border-radius: 0.7rem;
        margin-left: 9rem;
        margin-top: 2rem;
    }
}

/*RODAPÉ*/

footer {
    background-image: url("../midia/Rodapé.png");
    margin-top: 2rem;
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    position: relative;
}

.contatos {
    position: absolute;
    margin-top: 6rem;
    margin-left: 3.7rem;
    color: #fff;
    font-size: 1.2rem;
}

.coluns {
    display: flex;
}

.column {
    flex-basis: 50%;
    margin: 6rem;
    margin-top: 17rem;
    color: #fff;
    text-align: center;
}
  
.column p {
    margin: 0;
    padding: 1.7rem 0;
    font-size: 1.1rem;
}

/*RODAPÉ RESPONSIVO*/

@media (max-width: 50rem) {
    footer {
        margin-top: 2rem;
        width: 100%;
        height: 120rem;
        flex-direction: column;
        padding: 10rem;
    }
    
    .contatos {
        display: none;
    }

    .coluns {
        margin-top: 10rem !important;
        display: block;
    }
    
    .column {
        margin-top: 17rem;
    }
      
    .column p {
        padding: 1.7rem 0;
        font-size: 3.5rem;
    }
}
</style>

<script>
    /*Banner rotativo*/
    var images = document.querySelectorAll('.banner img');
    var currentImageIndex = 0;

    function changeImage(n) {
        images[currentImageIndex].classList.remove('active');
        currentImageIndex += n;
        if (currentImageIndex < 0) {
            currentImageIndex = images.length - 1;
        } else if (currentImageIndex >= images.length) {
            currentImageIndex = 0;
        }
        images[currentImageIndex].classList.add('active');
    }

    function autoChangeImage() {
        changeImage(1);
    }

    var intervalId = setInterval(autoChangeImage, 5000);

    var banner = document.querySelector('.banner');
    banner.addEventListener('mouseover', function() {
        clearInterval(intervalId);
    });

    banner.addEventListener('mouseout', function() {
        intervalId = setInterval(autoChangeImage, 5000);
    });


    /*Scrollagem dos cards*/
    function scrollCardsRight() {
        const container = document.querySelector('.card-container');
        container.scrollBy({ left: 600, behavior: 'smooth' });
    }

    function scrollCardsLeft() {
        const container = document.querySelector('.card-container');
        container.scrollBy({ left: -600, behavior: 'smooth' });
    }
</script>
</html>