<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/produto.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>CarborTech</title>
</head>

<body>
    <header>
        <h1 class="logo">
            <img src="./midia/zyro-image2.png" class="img-logo" alt="Logo">
            <span class="carbortech">CarborTech</span>
        </h1>
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Categorias</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contatos</a></li>
        </ul>
        <div class="search-bar">
            <form class="search-form" action="#" method="GET">
                <input type="text" name="search" placeholder="Pesquise aqui">
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div class="buttons">
            <button class="btn-entrar">Entrar</button>
            <button class="btn-cadastrar-se">Cadastrar-se</button>
        </div>
    </header>

    <div class="product">
        <div class="informations">
            <div class="image">
                <img src="./midia/unsplash_4PMVNJeI3XU.png" alt="Imagem">
            </div>
            <div class="content">
                <h2 class="content-title">Jabuticabeira</h2>
                <p class="content-quantidade">Quantidade disponível: 10</p>
                <p class="content-value">R$10,99</p>
                <button class="btn-comprar">Comprar</button>
            </div>
        </div>
    </div>

    <div class="green-div">
        <div class="titles-container">
            <h3 class="first-title" onclick="moveLine1()">
                <span class="title-text">Informações gerais</span>
                <span class="line"></span>
            </h3>
            <h3 class="second-title" onclick="moveLine2()">
                <span class="title-text-two">Informações de plantio</span>
            </h3>
        </div>
        <img class="informations-logo" src="./midia/zyro-image2.png" alt="">
        <img class="informations-logo-two" src="./midia/zyro-image2.png" alt="">
        <div class="text-container">
            <p class="general-informations-text">
                Madeira: Medianamente pesada, usada em marcenaria e carpintaria.
                <br><br><br>Aspectos Ecológicos: Espécie de solos aluviais úmidos indiada para o plantio em florestas
                ribeirinhas de preservação permanente. Os frutos são consumidos por pássaros, micos, quatis,
                porcos-do-mato, cotias e capivaras. A floração e frutificação varia conforme a região, porém, em geral,
                ocorrem entre os meses de janeiro-fevereiro e agosto-setembro, respectivamente.
                <br><br><br>As espécies de árvores nativas como a JABUTICABA SABARÁ são muito indicadas para ações de
                reflorestamento, preservação ambiental, arborização urbana, paisagismos ou plantios domésticos. O
                reflorestamento, por exemplo, corresponde a implantação de florestas em áreas que já foram degradadas,
                seja pelo tempo, pelo homem ou pela natureza.
                <br><br><br>Já quando há a finalidade de arborização urbana ou paisagismo, é necessário avaliar o espaço
                em que a muda será plantada para que não haja problemas com a fiação elétrica ou rachaduras na calçada.
                <br><br><br>No viveiro do Instituto Brasileiro de Florestas é possível encontrar mudas de árvores
                nativas produzidas em tubetes plásticos de diversos tamanhos. Todas com a certificação no Registro
                Nacional de Mudas e Sementes – RENASEM.
                <br><br><br>Confira também sobre Acácia Australiana!
            </p>
            <img class="general-informations-img" src="./midia/Jabuticaba.png" alt="">
        </div>

        <footer>
            <div class="container-videos">
                <div class="video-and-text">
                    <div class="div-video"></div>
                    <p class="video-text">No viveiro do Instituto Brasileiro de Florestas é possível encontrar mudas de
                        árvores nativas produzidas em tubetes plásticos de diversos tamanhos. Todas com a certificação
                        no Registro Nacional de Mudas e Sementes – RENASEM. No viveiro do Instituto Brasileiro de
                        Florestas é possível encontrar mudas de árvores nativas produzidas em tubetes plásticos de
                        diversos tamanhos. Todas com a certificação no Registro Nacional de Mudas e Sementes – RENASEM.
                    </p>
                </div>
                <div class="video-and-text">
                    <p class="video-text">No viveiro do Instituto Brasileiro de Florestas é possível encontrar mudas de
                        árvores nativas produzidas em tubetes plásticos de diversos tamanhos. Todas com a certificação
                        no Registro Nacional de Mudas e Sementes – RENASEM. No viveiro do Instituto Brasileiro de
                        Florestas é possível encontrar mudas de árvores nativas produzidas em tubetes plásticos de
                        diversos tamanhos. Todas com a certificação no Registro Nacional de Mudas e Sementes – RENASEM.
                    </p>
                    <div class="div-video"></div>
                </div>
            </div>
            <div class="footer-continuation">

            </div>
        </footer>
    </div>
</body>

<script src="./js/produto.js"></script>
</html>