* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-width: none; 
}

h1 {
  font-weight: 600 !important;
}

body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  width: 32rem;
}

form input {
  background-color: #e8e8e8;
  box-shadow: 0.2rem 0.2rem #767676;
  border: none;
  padding: 0.8rem;
  border-radius: 0.2rem;
  align-items: center;
}

form input:focus {
  outline: 0.01em solid #797979;
}

a {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#banner {
  background-image: url("../assets/img/imagem-fundo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 34%;
}

#form {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
}

#form_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}

button#submit {
  align-items: center;
  background: #4684fb;
  border: none;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  border-radius: 0.2rem;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  transition: all 0.5s;
  text-decoration: none;
}

button#submit:hover {
  background-color: #3570de;
}


@media (max-width: 50rem) {
  main {
    margin-top: 20vh;
  }

  form {
    gap: 1rem;
    width: 20rem;
  }
  
  form input {
    padding: 0.6rem;
    border-radius: 0.2rem;
  }
  
  #banner {
    display: none
  }
  
  #form {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
  }
  
  #form_buttons {
    display: grid;
    margin-top: 1.3rem;
  }
  
  #form_buttons div {
    display: flex;
    gap: 0.6rem;
  }
  
  #external button {
    align-items: center;
    background: #e8e8e8;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    width: 2.45rem;
  }
  
  #external button img {
    width: 70%;
  }
  
  button#login {
    margin-top: 2vh;
  }
  
  button#submit {
    align-items: center;
    background: #4684fb;
    border: 0.1rem solid #4684fb;
    border-radius: 0.2rem;
    color: white;
    font-size: 1rem;
    padding: 0.4rem 0.9rem;
    transition: all 0.5s;
    margin-top: 2vh;
  }
  
  button#submit:hover {
    background-color: white;
    color: #4684fb;
  }
}