/* CABEÇALHO DO SITE */

/* Logo e título */
header {
    background-color: #ececec;
    padding: 0.6rem;
    color: #3f3f3f;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
  }
  
  .logo img {
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.3rem;
    color: #4ba95a;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration-color: #a56363;
  }
  
  .logo:hover {
    color: #64bf71;
  }
  
  /* Categorias de navegação */
  nav {
    margin-left: 10rem;
  }
  
  .nav-link {
    margin-left: 1rem;
  }
  
  ul a li {
    padding: 0.6rem 0 0.6rem 0;
  }
  
  .bi {
    padding-right: 1rem;
  }
  
  /* Barra de navegação */
  .search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 23rem;
    border-radius: 0.1rem;
  }
  
  .search-form input[type="text"] {
    padding: 0.25rem 0.6rem;
    border: none;
    border-radius: 0.1rem;
  }
  
  .search-form input[type="text"]:focus {
    outline: 0.01em solid #797979;
  }
  
  .search-form input[type="submit"] {
    padding: 0.25rem 0.55rem;
    background-color: #fff;
    color: #797979;
    cursor: pointer;
    border: none;
    border-radius: 0.1rem;
    margin-left: 0.3rem;
  }
  
  .search-form input[type="submit"]:hover {
    background-color: #fbfbfb;
    outline: 0.01em solid #797979;
  }
  
  /* Botões de login e cadastro */
  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
  }
  
  .buttons button {
    padding: 0.25rem 0.6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    transition: background-color 0.5s;
  }
  
  .btn-entrar {
    background-color: #ececec;
    border: 0.1rem solid #55ad63;
    color: #55ad63;
  }
  
  .btn-entrar:hover {
    background-color: #55ad63;
    color: #ececec;
  }
  
  .btn-cadastrar-se {
    background-color: #4684fb;
    border: 0.1rem solid #4684fb;
    color: #ececec;
    transition: all 0.5s;
  }
  
  .btn-cadastrar-se:hover {
    background-color: #ececec;
    color: #4684fb;
  }
  
  .search-bar-responsive {
    display: none;
  }
  
  /*CABEÇALHO RESPONSIVO*/
  
  @media (max-width: 50rem) {
    header {
      padding: 0.4rem;
      height: 12.5rem;
    }
  
    .logo img {
      width: 7rem;
      height: 6rem;
      margin-left: 2rem;
      margin-right: 0.6rem;
    }
  
    span {
      display: none;
    }
  
    .nav-items {
      margin-left: 4rem;
      font-size: 2.5rem;
    }
  
    .nav-item {
      margin-right: 0rem;
    }
  
    .nav-link {
      margin-right: 4rem;
    }
  
    .category-list {
      margin-top: 4rem;
    }
  
    .category-list li {
      font-size: 4rem;
      padding: 1.5rem 10rem;
    }
  
    .search-form {
      font-size: 3rem;
    }
  
    .search-form input[type="text"] {
      padding: 0.9rem 2.2rem;
      border-radius: 0.3rem;
    }
  
    .search-form input[type="text"]:focus {
      outline: 0.01em solid #797979;
    }
  
    .search-form input[type="submit"] {
      padding: 0.9rem 2.2rem;
      margin-left: 1.3rem;
      border-radius: 0.3rem;
    }
  
    .search-form input[type="submit"]:hover {
      background-color: #fbfbfb;
      outline: 0.05em solid #797979;
    }
  
    .buttons {
      margin-right: 2rem;
    }
  
    .buttons button {
      padding: 1rem 2rem;
      margin-left: 1.5rem;
      font-size: 2.5rem;
      border-radius: 0.5rem;
    }
  
    .search-bar {
      display: none;
    }
  
    .search-bar-responsive {
      height: 9rem;
      align-items: center;
      display: flex;
      background-color: #dcdcdc;
    }
  }
  