/*Div do produto*/
.product {
  margin-left: 23rem;
  margin-top: 3rem;
  width: 40rem;
}

.image {
  background-image: url("../assets/img/20230729_164443.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 40%;
  width: 16rem;
  height: 16rem;
  border-radius: 1rem;
}

.informations {
  justify-content: center;
  display: flex;
}

.content {
  margin-left: 3.3rem;
  flex: 1;
  color: #323232;
}

.content-title {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.content-quantidade {
  margin-top: 2rem;
  font-size: 1rem;
}

.content-value {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1.6rem;
}

.btn-comprar {
  background-color: #4684fb;
  color: white;
  border: none;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  transition: all 0.5s;
  padding: 0.35rem 1.4rem;
  border-radius: 0.2rem;
  margin-top: 0.9rem;
  font-size: 1.1rem;
}

.btn-comprar:hover {
  background-color: #3570de;
}

/*Div do produto responsiva*/
@media (max-width: 50rem) {
  .product {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .image {
    width: 10rem;
    height: 20vh;
    border-radius: 0.8rem;
  }

  .content {
    margin-left: 1.7rem;
  }

  .content-title {
    font-size: 1.3rem;
    margin-top: 0.7rem;
  }

  .content-quantidade {
    margin-top: 0.7rem;
    font-size: 0.8rem;
  }

  .content-value {
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 1rem;
  }

  .btn-comprar {
    background-color: #4684fb;
    color: white;
    border: none;
    transition: all 0.5s;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .btn-comprar:hover {
    background-color: #5c95ff;
  }
}

/*Div verde*/
.green-div {
  background-color: #bad4bb;
  max-width: 100rem;
  height: 100%;
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3rem 3rem 0 0;
}

.titles-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: #323232;
  font-weight: 500;
}

.first-title {
  position: relative;
  font-size: 1.35rem;
}

.title-text {
  display: inline-block;
  position: relative;
  padding-inline: 0.4rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s ease all;
}

.line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #4684fb;
  margin-top: 2.3rem;
  z-index: 0;
  animation: slideLine 0.3s ease-in-out;
}

.second-title {
  margin-left: 4rem;
  position: relative;
  cursor: pointer;
  font-size: 1.35rem;
}

.informations-logo {
  width: 3rem;
  height: 2.6rem;
  margin-top: 1.9rem;
  position: absolute;
  display: flex;
  margin-right: 88%;
}

.informations-logo-two {
  width: 3rem;
  height: 2.6rem;
  margin-top: 1.9rem;
  position: absolute;
  display: flex;
  margin-left: 88%;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5rem;
}

.general-informations-text {
  width: 55rem;
  flex-grow: 1;
  text-align: justify;
}

.general-informations-img {
  width: 22%;
  height: 37%;
  margin-left: 6%;
}

/*Div verde responsiva*/
@media (max-width: 50rem) {
  .green-div {
    min-width: 100%;
    height: 100%;
    margin-top: 10vh;
    border-radius: 3rem 3rem 0 0;
  }

  .titles-container {
    margin-top: 1rem;
    color: #323232;
  }

  .first-title {
    font-size: 1rem;
  }

  .title-text {
    padding-inline: 0.4rem;
    margin-left: 4rem;
  }

  .line {
    height: 0.3rem;
    margin-top: 2rem;
  }

  .second-title {
    margin-left: 4rem;
    font-size: 1rem;
  }

  .informations-logo {
    width: 1rem;
    height: 1rem;
    margin-top: 4rem;
    margin-right: 85rem;
  }

  .informations-logo-two {
    width: 1rem;
    height: 1rem;
    margin-top: 12rem;
    margin-left: 85rem;
  }

  .text-container {
    display: block;
    margin-top: 4rem;
  }

  .general-informations-text {
    width: 20rem;
    margin-left: 0rem;
    font-size: 1rem;
  }

  .general-informations-img {
    padding-top: 2rem;
    width: 20rem;
    height: 35rem;
    margin-left: 0rem;
  }
}

/*RODAPÉ*/

footer {
  background-image: url("../assets/img/Rodapé.png");
  margin-top: 2rem;
  width: 100%;
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  position: relative;
}

.container-videos {
  margin-top: 15rem;
}

.video-and-text {
  margin-top: 10rem;
  padding: 0 7rem 0 7rem;
  display: flex;
}

.video-text {
  color: #bad4bb;
  width: 40rem;
  flex-grow: 1;
  text-align: justify;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
}

.div-video {
  background-color: #bad4bb;
  width: 26.1rem;
  height: 15rem;
  border-radius: 0.8rem;
  box-shadow: 1rem 1rem 2rem #182b18;
  border: 0.3rem solid #336833;
}

.footer-continuation {
  width: 100%;
  height: 45rem;
  background-color: #234823; 
  margin-top: -40rem;
}

/*RODAPÉ RESPONSIVO*/

@media (max-width: 50rem) {
  footer {
    margin-top: 2rem;
    width: 100%;
    height: 80vh;
    flex-direction: column;
  }

  .container-videos {
    margin-top: 0rem;
    padding: 0rem;
  }

  .video-and-text {
    margin-top: 25rem;
    padding: 0;
  }

  .video-text {
    position: absolute;
    display: block;
    padding-left: 0rem;
    width: 24rem;
    padding-top: 15vh;
    font-size: 1rem;
    margin-top: 10rem;
    padding-right: 0 !important;
  }

  .div-video {
    width: 30rem;
    height: 27vh;
    border-radius: 0.8rem;
    margin: 0 auto;
  }

  .footer-continuation {
    width: 100%;
    height: 80rem;
    margin-left: 0rem;
    margin-top: -45rem;
  }

  .informations-logo-two {
    display: none;
  }

  .informations-logo {
    display: none;
  }
}