header {
    background-color: #ffff;
    padding: 0.6rem;
    color: #3f3f3f;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
  }
  
  .logo img {
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.3rem;
    color: #4ba95a;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration-color: #a56363;
  }
  
  .logo:hover {
    color: #64bf71;
  }
  
  /* Categorias de navegação */
  .nav-items {
    list-style: none;
    margin: 0;
    display: flex;
    margin-left: 6rem;
    font-size: 1rem;
  }
  
  .nav-item:hover {
    color: #8a8a8a;
  }
  
  .nav-link {
    margin-right: 1.4rem;
    color: #3f3f3f;
    text-decoration: none;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: #8a8a8a;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 0.5rem;
    margin-top: 2rem;
    text-decoration: none;
  }
  
  .toggle {
    display: none;
  }
  
  .toggle:checked + .category-list {
    display: block;
  }
  
  .category-list li {
    padding: 0.8rem 1.5rem;
    background-color: #ffff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .category-list li:hover {
    background-color: #ffff;
  }
  
  .category-list li a {
    text-decoration: none;
    color: #333;
    border-radius: 0.5rem;
  }
  
  .category-list a li {
    text-decoration: none;
    color: #333;
    text-decoration: underline;
    text-decoration-color: #ffff;
  }
  
  .bi {
    padding-right: 1rem;
  }
  
  /* Botões de login e cadastro */
  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
  }
  
  .buttons button {
    padding: 0.25rem 0.6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    transition: background-color 0.5s;
  }
  
  .btn-entrar {
    background-color: #ffff;
    border: 0.1rem solid #55ad63;
    color: #55ad63;
  }
  
  .btn-entrar:hover {
    background-color: #55ad63;
    color: #ffff;
  }
  
  .btn-cadastrar-se {
    background-color: #4684fb;
    border: 0.1rem solid #4684fb;
    color: #ffff;
    transition: all 0.5s;
  }
  
  .btn-cadastrar-se:hover {
    background-color: #ffff;
    color: #4684fb;
  }
  
  .search-bar-responsive {
    display: none;
  }
  
  /*CABEÇALHO RESPONSIVO*/
  
  @media (max-width: 50rem) {
    header {
      padding: 0.4rem;
      height: 12.5rem;
    }
  
    .logo img {
      width: 7rem;
      height: 6rem;
      margin-left: 2rem;
      margin-right: 0.6rem;
    }
  
    span {
      display: none;
    }
  
    .nav-items {
      margin-left: 4rem;
      font-size: 2.5rem;
    }
  
    .nav-item {
      margin-right: 0rem;
    }
  
    .nav-link {
      margin-right: 4rem;
    }
  
    .category-list {
      margin-top: 4rem;
    }
  
    .category-list li {
      font-size: 4rem;
      padding: 1.5rem 10rem;
    }
  
    .search-form {
      font-size: 3rem;
    }
  
    .search-form input[type="text"] {
      padding: 0.9rem 2.2rem;
      border-radius: 0.3rem;
    }
  
    .search-form input[type="text"]:focus {
      outline: 0.01em solid #797979;
    }
  
    .search-form input[type="submit"] {
      padding: 0.9rem 2.2rem;
      margin-left: 1.3rem;
      border-radius: 0.3rem;
    }
  
    .search-form input[type="submit"]:hover {
      background-color: #fbfbfb;
      outline: 0.05em solid #797979;
    }
  
    .buttons {
      margin-right: 2rem;
    }
  
    .buttons button {
      padding: 1rem 2rem;
      margin-left: 1.5rem;
      font-size: 2.5rem;
      border-radius: 0.5rem;
    }
  
    .search-bar {
      display: none;
    }
  
    .search-bar-responsive {
      height: 9rem;
      align-items: center;
      display: flex;
      background-color: #dcdcdc;
    }
  }

  #pac-card {
    border-radius: 0.5rem;
    margin: 0.5rem 0 0 61.7%;
  }

       #map {
        height: 91vh;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        font-family: Roboto;
        padding: 0;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 22rem;
        border-radius: 0.2rem;
      }

      #type-selector {
        margin-bottom: 1rem;
      }