@media (max-width: 62rem) {
  header {
    width: 100%;
    height: 6vh !important;
  }

  #carbortech {
    display: none;
  }

  nav {
    margin-left: 21rem !important;
  }

  #navbarSupportedContent {
    margin-top: 13vh;
    background-color: #ececec;
    border-radius: 1rem;
    z-index: 9999;
  }

  .navbar-collapse {
    margin-top: 20rem;
  }

  .dropdown-menu show {
    margin-top: 30vh !important;
    font-size: 3vh !important;
  }

  li {
    font-size: 2vh !important;
  }

  .nav-items {
    margin-left: 1rem;
    font-size: 3rem;
  }

  .nav-item {
    margin-right: 0rem;
  }

  .nav-link {
    margin-right: 1rem;
    font-size: 2vh !important;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*MAPA*/
#map {
  height: 91.3vh;
}

#toggleSatellite {
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #cccccc;
  border-radius: 0.3rem;
  position: absolute; 
  top: 11.3rem;
  left: 0.5rem;
  cursor: pointer;
  transition: all 200ms;
}

#toggleSatellite:hover {
  background-color: #cdcdcd;
}

#description {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

/*Buscar por endereço*/
#pac-card {
  border-radius: 0.5rem;
  margin: 0.5rem 0 0 0.5rem;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 0.8rem 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 22rem;
  border-color: #ababab;
  border-radius: 0.2rem;
}

#type-selector {
  margin-bottom: 1rem;
}

#type-selector input {
  cursor: pointer;
}

/*Inserir informações da área*/
#dados-polygon {
  position: fixed;
  width: 35rem;
  max-height: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  overflow-y: auto;
  z-index: 9999;
}

.dado-polygon {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border: 0.05rem solid #a5a5a5;
  border-radius: 0.3rem;
  outline: none;
}

#submit-owner {
  background-color: #4684fb;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 11.5rem;
  margin-top: 1.7rem;
  outline: none !important;
  text-decoration: none;
  transition: all 200ms;
}

#submit-owner:hover {
  background-color: #3570de;
}

/*Informações da área*/
#area-card {
  position: fixed;
  width: 35rem;
  max-height: 55%;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  overflow-y: auto;
  z-index: 9999;
}

#areaInit-card {
  position: fixed;
  width: 35rem;
  max-height: 55%;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  overflow-y: auto;
  z-index: 9999;
}

#click-alert {
  position: fixed;
  display: none;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55ad6447;
  outline: solid 0.1rem #55ad64;
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  transition: all 200ms;
  z-index: 9999;
}

#click-alert p {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

#title-card-area {
  margin-left: 10rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

#cadastrarInit-cardButton {
  background-color: #4684fb;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-top: 1.7rem;
  outline: none !important;
  transition: all 200ms;
}

#cadastrarInit-cardButton:hover {
  background-color: #3570de;
}

#cancelarInit-cardButton {
  background-color: #4684fb;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 9rem;
  margin-bottom: 1rem;
  margin-top: 1.7rem;
  outline: none !important;
  transition: all 200ms;
}

#cancelarInit-cardButton:hover {
  background-color: #3570de;
}

#fechar-card {
  position: absolute;
  top: -0.6rem;
  right: 0rem;
  font-size: 1.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (max-width: 62rem) {
  #pac-card {
    display: none;
  }

  #toggleSatellite {
    width: 18rem !important;
    height: 6rem;
    font-size: 1.6rem !important;
    top: 6.4%;
  }

  button {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem !important;
  }

  #map {
    height: 94vh;
  }
  
  #dados-polygon {
    width: 57.5rem;
    max-height: 75%;
    padding: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
  }

  #submit-owner {
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    margin-left: 16rem;
  }

  #owner-name {
    padding: 0.6rem;
    margin-bottom: 3rem;
    border: 0.1rem solid #a5a5a5;
    border-radius: 0.6rem;
  }

  #area-description {
    padding: 0.6rem;
    margin-bottom: 3rem;
    border: 0.1rem solid #a5a5a5;
    border-radius: 0.6rem;
  }

  #area-card {
    width: 57rem;
    max-height: 80%;
    padding: 2.5rem;
    border-radius: 1rem;
    font-size: 2rem;
  }
  
  #title-card-area {
    margin-left: 16rem;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  #fechar-card {
    position: absolute;
    top: -0.6rem;
    right: 0rem;
    font-size: 1.8rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}