/*CORPO DO SITE*/

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/img/Fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 30%;
  scrollbar-width: none; 
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.principal-container {
  max-width: 100rem;
  margin: 0 auto;
}

/*Banner rotativo*/
.banner {
  width: 55rem;
  height: 5rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 1.7rem;
}

.banner img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.35rem;
}

.banner img.active {
  opacity: 1;
}

.banner-buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-buttons button {
  font-size: 4rem;
  margin-top: -1rem;
  background: none;
  border: none;
  color: #3f3f3f;
  cursor: pointer;
}

/*Banner rotativo responsivo*/
@media (max-width: 50rem) {
  html {
    width: 100%;
    height: 2rem;
  }

  .banner {
    width: 95%;
    height: 3.5rem;
    margin-top: 3vh;
  }

  .banner img {
    width: 88%;
    height: 100%;
    border-radius: 0.3rem;
  }

  .banner-buttons button {
    font-size: 2rem;
    margin-top: 0rem;
  }
}

/*Div de cadastro*/
.register-div {
  background-color: rgba(49, 49, 49, 0.85);
  width: 73rem;
  height: 24rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
}

.register-image {
  width: 37%;
  height: 100%;
  object-fit: cover;
  float: left;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.register-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

/*Textos e botões da div de cadastro*/
.p-cadastro-areas {
  font-size: 1.35rem;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.p-cadastro-areas img {
  width: 1.65rem;
  margin-right: 0.5rem;
  margin-top: -0.35rem;
}

.p-register-text {
  text-align: left;
  padding: 3.5rem 5rem;
}

.register-buttons {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1.5rem;
}

.register-buttons button {
  padding: 0.7rem 1.3rem;
  border-radius: 0.2rem;
  margin-left: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.btn-cadastrar-area {
  background-color: #4684fb;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  color: #ffffff;
  border: none;
  transition: all 0.5s;
}

.btn-cadastrar-area:hover {
  background-color: #3570de;
}

/*Div de cadastro responsiva*/
@media (max-width: 50rem) {
  .register-div {
    width: 90%;
    height: 50vh;
    margin-top: 4.5vh;
    border-radius: 0.7rem;
  }

  .register-image {
    width: 37%;
    height: 100%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }

  /*Textos e botões da div de cadastro responsivos*/
  .p-cadastro-areas {
    font-size: 1rem;
    margin-top: 1vh;
  }

  .p-cadastro-areas img {
    width: 1.2rem;
    margin-right: 0.5rem;
    margin-top: -0.7vh;
  }

  .p-register-text {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  .register-buttons {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .register-buttons button {
    display: block;
    max-width: 15rem;
    margin-top: 0rem;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    margin-left: 1rem;
    font-size: 1rem;
  }
}

/*Cards*/
.card-container {
  overflow-x: none;
  white-space: nowrap;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  overflow: hidden;
  padding: 0 10rem 0 10rem;
}

.card {
  min-width: 16.5rem !important;
  border-radius: 0.4rem;
  margin: 1rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: fit-content;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 0.4rem 0.4rem 0 0;
}

.title-card {
  font-size: 1.3rem;
  font-weight: 600;
  color: #323232;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.frutifera-card {
  font-size: 1rem;
  font-weight: 400;
  color: #323232;
  margin: 0 auto;
  margin-top: 1rem;
}

.frutifera-card img {
  justify-content: end;
  width: 1rem;
  height: 1rem;
}

.container-assessment-button {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.assessment-card {
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  color: #323232;
  margin-top: 1rem;
  margin-left: 2rem;
}

.assessment-card img {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}

.container-assessment-button button {
  background-color: #4684fb;
  box-shadow: 0.2rem 0.2rem #2a54a2;
  color: #ffffff;
  border: none;
  transition: all 0.5s;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  margin-left: 5.65rem;
}

.container-assessment-button button:hover {
  background-color: #3570de;
}

div a button i.bi {
  padding-right: 0;
}

/*Cards responsivos*/
@media (max-width: 50rem) {
  #title-card{
    font-size: 1.3rem;
  }

  .card-container {
    width: 100%;
    padding: 0 1rem 0 3.5rem;
  }

  .cards-wrapper {
    display: grid;
  }

  .card {
    min-width: 14rem !important;
    border-radius: 0.6rem !important;
    margin: 1rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: 20vh;
    border-radius: 0.6rem 0.6rem 0 0;
  }

  .title-card {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1vh;
  }

  .frutifera-card {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1vh;
  }

  .frutifera-card img {
    width: 1rem;
    height: 1rem;
  }

  .assessment-card {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1vh;
    margin-left: 0.5rem;
  }

  .assessment-card img {
    width: 1rem;
    height: 1vh;
    margin-top: 0.3vh;
    margin-right: 0.3rem;
  }

  .container-assessment-button button {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    margin-left: 4.5rem;
    margin-top: 1rem;
  }
}

/*RODAPÉ*/

footer {
  background-image: url("../assets/img/Rodapé.png");
  margin-top: 2rem;
  width: 100%;
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  position: relative;
}

.contatos {
  position: absolute;
  margin-top: 6rem;
  margin-left: 3.7rem;
  color: #fff;
  font-size: 1.2rem;
}

.coluns {
  display: flex;
}

.column {
  flex-basis: 50%;
  margin: 6rem;
  margin-top: 17rem;
  color: #fff;
  text-align: center;
}

.column p {
  margin: 0;
  padding: 1.7rem 0;
  font-size: 1.1rem;
  cursor: pointer;
}

/*RODAPÉ RESPONSIVO*/

@media (max-width: 50rem) {
  footer {
    margin-top: 2rem;
    width: 100%;
    height: 80vh;
    flex-direction: column;
  }

  .contatos {
    display: none;
  }
  
  .coluns {
    position: absolute;
    margin-top: 10vh !important;
    display: block;
  }

  .column {
    margin-top: 0vh;
    margin: 19%;
  }

  .column p {
    padding: 0rem 0;
    font-size: 1rem;
  }
}
