<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>CarborTech</title>
    <link rel="stylesheet" href="/css/quiz.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
    <header>
        <h1 class="logo">
            <img src="assets/img/zyro-image2.png" class="img-logo" alt="Logo">
            <span>CarborTech</span>
        </h1>
    
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
            <label for="toggle-categorias" class="nav-link">Sessões</label>
                <input type="checkbox" id="toggle-categorias" class="toggle">
                <ul id="category-list" class="category-list">
                    <a href="#card-container"><li><i class="bi bi-cart2"></i>Produtos</li></a>
                    <a href="/mapa"><li><i class="bi bi-geo-alt"></i>Cadastrar área</li></a>
                    <li><i class="bi bi-tree"></i>Solicitar serviço</li>
                    <a href="/inicial"><li><i class="bi bi-laptop"></i>CarborBlog</li></a>
                    <a href="/quiz"><li><i class="bi bi-question-octagon"></i>Quiz</li></a>
                    <a href="/cadastro"><li><i class="bi bi-door-open"></i></i>Cadastrar-se</li></a>
                    <a href="/login"><li><i class="bi bi-box-arrow-in-right"></i>Login</li></a>
                </ul>
        </ul>
    
        <div class="buttons">
            <a href="/login"><button class="btn-entrar">Login</button></a>
            <a href="/cadastro"><button class="btn-cadastrar-se">Cadastrar-se</button></a>
        </div>
    </header>

    <main>
        <h2>CarborQuiz</h2>
        <div class="content">
            <span class="spnQtd"></span>
            <span class="question"></span>
            <div class="answers"></div>
        </div>
        <div class="finish">
            <span></span>
            <button class="reiniciar">Jogar de novo</button>
        </div>
    </main>

    <script type="module" src="/js/quiz.js"></script>
</body>
</html>