<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="/css/servicoArea.css">
  <link rel="stylesheet" href="/css/header.css">
  <title>CarborTech</title>
</head>
<body>

  <!-- Cabeçalho -->
  <header>
        
    <%- include('../layouts/header') %>

  </header>

  <!-- Dados para compra -->
  <h3 id="comprar">Solicitação de serviço</h3>
  <form action="https://formsubmit.co/carbortech@gmail.com" id="form-compra" method="POST">
    <input type="text" name="Nome" placeholder="Digite seu nome" class="info-compra" required>
    <input style="display: none;" type="text" name="Endereço" class="info-compra" value="<%= endereco %>" required>
    <input style="display: none;" type="text" name="Município" class="info-compra" value="<%= municipio %>" required>
    <input style="display: none;" type="text" name="Email" value="<%= email_servico %>" class="info-compra" required>
    
    <div class="campo-header">Data que deseja que o serviço seja feito:</div>
    <input type="date" name="Data" class="info-compra" required>

    <div class="campo-header">Quantidade de Espécies desejadas:</div>
    <input type="number" name="Quantidade de araucárias" placeholder="Araucárias" id="quantidadeAraucaria" class="info-especies" min="0" max="38">
    <input type="number" name="Quantidade de jabuticabeiras" placeholder="Jabuticabeiras" id="quantidadeJabuticabeira" class="info-especies" min="0" max="4" style="margin-bottom: 1rem;">

    <textarea cols="32" rows="8" name="Descrição de serviço" placeholder="Descreva como deseja que o serviço seja realizado" class="info-compra" required></textarea>
    
    <button id="realizarPedido" type="submit">Solicitar serviço</button>
    
    <input type="hidden" name="_subject" value="CarborTech recebeu uma solicitação de serviço.">
    <input type="text" name="_honey" style="display:none">
    <input type="hidden" name="_captcha" value="false">
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>