<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="./css/style.css"/>
        <title>CarborTech - Login</title>
    </head>
    <body>
        <main>
            <div id="banner"></div>
            <div id="form">
                <h1 style="color: #55AD63">Cadastrar-se</h1>
                <form action="">
                    <input type="text" name="nome" id="nome" placeholder="Nome"/>
                    <input type="email" name="email" id="email" placeholder="Email"/>
                    <input type="password" name="senha" id="senha" placeholder="Senha"/>
                    <input type="password" name="senha2" id="senha2" placeholder="Confirmar senha"/>
                    <div id="form_buttons">
                        <div id="external">
                            <button id="google" type="button">
                                <img src="./media/google.png" alt="google logo"/>
                            </button>
                            <button id="facebook" type="button">
                                <img src="./media/facebook.png" alt="facebook logo"/>
                            </button>
                        </div>
                        <div>
                            <button id="login" type="button">Entrar</button>
                            <button id="submit" type="submit">Cadastrar-se</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <script src="./js/script.js"></script>
    </body>
</html>
