/* CABEÇALHO DO SITE */

/* Logo e título */
header {
    background-color: #ECECEC;
    padding: 0.6rem;
    color: #3F3F3F;
    display: flex;
    align-items: center;
    height: 4rem;
}

.logo img {
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 0.8rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.3rem;
    color: #4BA95A;
}

/* Categorias de navegação */
.nav-items {
    list-style: none;
    margin: 0;
    display: flex;
    margin-left: 6rem;
    font-size: 1rem;
}

.nav-item {
    margin-right: 1.4rem;
}

.nav-item:hover {
    color: #8a8a8a;
}

.nav-link {
    color: #3F3F3F;
    text-decoration: none;
}

/* Barra de navegação */
.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 23rem;
    border-radius: 0.1rem;
}

.search-form input[type="text"] {
    padding: 0.2rem 0.6rem;
    border: none;
    border-radius: 0.1rem;
}

.search-form input[type="text"]:focus {
    outline: 0.01em solid #797979;
}

.search-form input[type="submit"] {
    padding: 0.2rem 0.55rem;
    background-color: #fff;
    color: #797979;
    cursor: pointer;
    border: none;
    border-radius: 0.1rem;
    margin-left: 0.3rem;
}

.search-form input[type="submit"]:hover {
    background-color: #fbfbfb;
    outline: 0.01em solid #797979;
}

/* Botões de login e cadastro */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 1rem;
}

.buttons button {
    padding: 0.15rem 0.6rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-left: 0.5rem;
    transition: background-color .5s;
}

.btn-entrar {
    background-color: #ECECEC;
    border: 0.1rem solid #55AD63;
    color: #55AD63;
}

.btn-entrar:hover {
    background-color: #55AD63;
    color: #ECECEC;
}

.btn-cadastrar-se {
    background-color: #4684FB;
    border: 0.1rem solid #4684FB;
    color: #ECECEC;
    transition: all .5s;
}

.btn-cadastrar-se:hover {
    background-color: #ECECEC;
    color: #4684FB;
}

/*CORPO DO SITE*/

body {
    background-image: url("../midia/scaled_IMG-20230621-WA0268-photo-processed\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 30%;
  }

/*Banner rotativo*/
.banner {
    width: 55rem;
    height: 5rem;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2.5rem;
}

.banner img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.35rem;
}

.banner img.active {
    opacity: 1;
}

.banner-buttons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-buttons button {
    font-size: 4rem;
    margin-top: -1rem;
    background: none;
    border: none;
    color: #3F3F3F;
    cursor: pointer;
}