header {
    background-color: #ECECEC;
    padding: 0.8rem;
    color: #3F3F3F;
    display: flex;
    align-items: center;
}

.logo img {
    float: left;
    width: 2.3rem;
    height: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4BA95A;
}

.nav-items {
    list-style: none;
    margin: 0;
    display: flex;
    margin-left: 5rem;
}

.nav-item {
    margin-right: 1rem;
}

.nav-item:hover {
    margin-right: 1rem;
    color: #8a8a8a;
}

.nav-link {
    color: #3F3F3F;
    text-decoration: none;
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 24rem;
}

.search-form input[type="text"] {
    padding: 0.3rem;
    border: none;
    border-radius: 0.1rem;
}

.search-form input[type="submit"] {
    padding: 0.3rem 0.6rem;
    background-color: #fff;
    color: #797979;
    cursor: pointer;
    border: none;
    border-radius: 0.1rem;
    margin-left: 0.5rem;
}

.search-form input[type="submit"]:hover {
    background-color: #fbfbfb;
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: 6rem;
}

.buttons button {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
}

.btn-entrar {
    background-color: #ECECEC;
    border: 0.1rem solid #55AD63;
    color: #55AD63;
    transition: background-color .5s;
}
.btn-entrar:hover {
    background-color: #55AD63;
    border: 0.1rem solid #ECECEC;
    color: #ECECEC;
}

.btn-cadastrar-se {
    background-color: #4684FB;
    border: 0.1rem solid #4684FB;
    color: #ECECEC;
    transition: background-color .5s;
}
.btn-cadastrar-se:hover {
    background-color: #4684FB;
    border: 0.1rem solid #ECECEC;
    color: #ECECEC;
}