<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/araucaria.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>CarborTech</title>
</head>

<body>
    <header>

        <%- include('../layouts/header') %>
        
    </header>

    <div class="product">
        <div class="informations">
            <div class="image">
                <img src="assets/img/20230731_103712.jpg" alt="Imagem">
            </div>
            <div class="content">
                <h2 class="content-title">Araucária</h2>
                <p class="content-quantidade">Quantidade disponível: 48</p>
                <p class="content-value">R$15,99</p>
                <button class="btn-comprar">Comprar</button>
            </div>
        </div>
    </div>

    <div class="green-div">
        <div class="titles-container">
            <h3 class="first-title" onclick="moveLine1()">
                <span class="title-text" onclick="restaurarInformacoesGerais()">Informações gerais</span>
                <span class="line"></span>
            </h3>
            <h3 class="second-title" onclick="moveLine2()">
                <span class="title-text-two" onclick="trocarInformacoesPlantio()">Informações de plantio</span>
            </h3>
        </div>
        <img class="informations-logo" src="assets/img/zyro-image2.png" alt="">
        <img class="informations-logo-two" src="assets/img/zyro-image2.png" alt="">
        <div class="text-container">
            <p class="general-informations-text" id="general-informations-text">
                A araucária, também conhecida como pinheiro-do-paraná ou simplesmente pinheiro brasileiro, é uma árvore imponente e emblemática do Brasil. Seu nome científico é Araucaria angustifolia, e ela é considerada uma espécie nativa ameaçada de extinção. Sua beleza e majestade são admiradas por muitos, tornando-a um símbolo da biodiversidade brasileira.
                <br><br><br>Essa árvore possui características distintivas que a tornam facilmente reconhecível. Suas folhas são afiladas e pontiagudas, agrupadas em ramos densos, formando uma copa piramidal característica. Além disso, a araucária pode atingir alturas impressionantes, chegando a mais de 30 metros, o que a torna uma das maiores árvores do Brasil.
                <br><br><br>A araucária é conhecida por suas pinhas, que contêm sementes comestíveis conhecidas como pinhões. Esses pinhões têm sido tradicionalmente consumidos por comunidades locais como parte de sua dieta. Além do valor nutricional, a araucária também desempenha um papel importante no ecossistema, fornecendo abrigo e alimento para diversas espécies de animais.
                <br><br><br>Infelizmente, a araucária está ameaçada devido à exploração desenfreada de seu habitat natural e à atividade humana. Sua proteção é fundamental para garantir a preservação dessa espécie icônica e de todo o ecossistema associado a ela.
                <br><br><br>Preservar a araucária é essencial para a conservação da biodiversidade brasileira e para garantir que as futuras gerações também possam apreciar a beleza e a importância dessa árvore única. É responsabilidade de todos nós, enquanto sociedade, trabalhar juntos para proteger essa espécie emblemática e cuidar do nosso patrimônio natural.
            </p>
            <img class="general-informations-img" src="assets/img/araucaria-text.png" alt="">
        </div>

        <footer>
            <div class="container-videos">
                <div class="video-and-text">
                    <div class="div-video">
                        //Colocar vídeo//
                    </div>
                    <p class="video-text">No viveiro do Instituto Brasileiro de Florestas é possível encontrar mudas de
                        árvores nativas produzidas em tubetes plásticos de diversos tamanhos. Todas com a certificação
                        no Registro Nacional de Mudas e Sementes – RENASEM. No viveiro do Instituto Brasileiro de
                        Florestas é possível encontrar mudas de árvores nativas produzidas em tubetes plásticos de
                        diversos tamanhos. Todas com a certificação no Registro Nacional de Mudas e Sementes – RENASEM.
                    </p>
                </div>
                <div class="video-and-text">
                    <p class="video-text">No viveiro do Instituto Brasileiro de Florestas é possível encontrar mudas de
                        árvores nativas produzidas em tubetes plásticos de diversos tamanhos. Todas com a certificação
                        no Registro Nacional de Mudas e Sementes – RENASEM. No viveiro do Instituto Brasileiro de
                        Florestas é possível encontrar mudas de árvores nativas produzidas em tubetes plásticos de
                        diversos tamanhos. Todas com a certificação no Registro Nacional de Mudas e Sementes – RENASEM.
                    </p>
                    <div class="div-video">
                        //Colocar vídeo//
                    </div>
                </div>
            </div>
            <div class="footer-continuation"></div>
        </footer>
    </div>
</body>

<script src="./js/araucaria.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>